digitalpreservation-datascience-backend/src/main/resources/dmp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DataManagementPlan">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="dataRepositoryType" name="dataRepository" minOccurs="1" maxOccurs="1"/>
				<xs:element type="ethicsPrivacyType" name="ethicsPrivacy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="rolesAndResponsibilitiesType" name="rolesAndResponsibilities" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element type="budgetType" name="budget" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="experimentFile" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="metadataType" name="metadata" minOccurs="1" maxOccurs="1"/>
							<xs:element type="preservationType" name="preservation" minOccurs="1" maxOccurs="1"/>
							<xs:element type="dataVolumeType" name="dataVolume" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sourceCode" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="metadataType" name="metadata" minOccurs="1" maxOccurs="1"/>
							<xs:element type="preservationType" name="preservation" minOccurs="1" maxOccurs="1"/>
							<xs:element type="dataVolumeType" name="dataVolume" minOccurs="1" maxOccurs="1"/>
							<xs:element type="documentationType" name="documentation" minOccurs="1" maxOccurs="1"/>
							<xs:element type="intellectualPropertyRightsType" name="intellectualPropertyRights" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="metadataType">
	  <xs:sequence>
			<xs:element name="dcFormat" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcMimeType" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcEncoding" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcTitle" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dcCreator" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dcDate" type="xs:date" minOccurs="1" maxOccurs="1"/>			
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="preservationType">
	  <xs:sequence>
			<xs:element name="backupStorageURI" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="backupsInCronFormat" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="retentionDurationInDays" type="xs:double" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="dataVolumeType">
	  <xs:sequence>
			<xs:element name="amount" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="unit" type="unitType" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="dataRepositoryType">
	  <xs:sequence>
			<xs:element name="doi" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="repositoryURI" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentationType">
	  <xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>	
	<xs:complexType name="intellectualPropertyRightsType">
	  <xs:sequence>
			<xs:element name="license" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:simpleType name="unitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KB"/>
			<xs:enumeration value="MB"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="TB"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:complexType name="ethicsPrivacyType">
	  <xs:sequence>
			<xs:element name="issue" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="solution" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="rolesAndResponsibilitiesType">
	  <xs:sequence>
			<xs:element name="roleName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="responsibilitiesDescription" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="budgetType">
	  <xs:sequence>
			<xs:element name="position" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="costs" type="xs:double" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currency" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>
</xs:schema>